<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="space-y-6">
        <div class="border-4 bg-indigo-500 bg-clip-border p-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt nisi dolores explicabo ducimus autem dignissimos consectetur repudiandae ipsum, fugiat beatae incidunt recusandae. Aperiam, deleniti quis doloribus, minima cum possimus veniam libero sequi ullam quia impedit illum error nostrum laudantium soluta ea nulla voluptate. Quas quis laborum minima eos non ipsam alias, excepturi dolore dicta, commodi provident dolorem adipisci dolorum sapiente beatae mollitia maxime dolor neque similique voluptatum aliquid fugit asperiores natus! Temporibus deserunt ea possimus, ab pariatur beatae nisi omnis deleniti neque! Ipsam saepe ea sapiente consequuntur doloribus corporis praesentium molestiae. Unde consequuntur alias recusandae nisi quos! At, deserunt nihil.  
        </div>
        <div class="border-4 bg-indigo-500 bg-clip-padding p-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt nisi dolores explicabo ducimus autem dignissimos consectetur repudiandae ipsum, fugiat beatae incidunt recusandae. Aperiam, deleniti quis doloribus, minima cum possimus veniam libero sequi ullam quia impedit illum error nostrum laudantium soluta ea nulla voluptate. Quas quis laborum minima eos non ipsam alias, excepturi dolore dicta, commodi provident dolorem adipisci dolorum sapiente beatae mollitia maxime dolor neque similique voluptatum aliquid fugit asperiores natus! Temporibus deserunt ea possimus, ab pariatur beatae nisi omnis deleniti neque! Ipsam saepe ea sapiente consequuntur doloribus corporis praesentium molestiae. Unde consequuntur alias recusandae nisi quos! At, deserunt nihil.  
        </div>
        <div class="border-4 bg-indigo-500 bg-clip-content p-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt nisi dolores explicabo ducimus autem dignissimos consectetur repudiandae ipsum, fugiat beatae incidunt recusandae. Aperiam, deleniti quis doloribus, minima cum possimus veniam libero sequi ullam quia impedit illum error nostrum laudantium soluta ea nulla voluptate. Quas quis laborum minima eos non ipsam alias, excepturi dolore dicta, commodi provident dolorem adipisci dolorum sapiente beatae mollitia maxime dolor neque similique voluptatum aliquid fugit asperiores natus! Temporibus deserunt ea possimus, ab pariatur beatae nisi omnis deleniti neque! Ipsam saepe ea sapiente consequuntur doloribus corporis praesentium molestiae. Unde consequuntur alias recusandae nisi quos! At, deserunt nihil.  
        </div>
        <p class="bg-gradient-to-r from-fuchsia-500 to-violet-500 bg-clip-text text-5xl font-extrabold text-transparent">Hello World</p>
    </div>
    
    <script type="module" src="../font-source.js"></script>
</body>
</html>