<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="space-y-6 w-120 text-justify">
        <p class="break-normal bg-red-200">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore eius minima iustodoloribusdictatenetursequifacilisaccusantiumnecessitatibus,corruptivitaeerrorpraesentium quas incidunt fugiat libero, ut exercitationem commodi quo molestiae! Ipsam enim, id doloremque voluptatem quis, aut alias non culpa obcaecati quidem nesciunt autem aliquam architecto dolorem, labore esse voluptatibus provident? Doloribus tempora eaque fugiat iure nesciunt quae pariatur ab, sequi non numquam id velit dignissimos at ducimus cum distinctio eos vel, unde fugit odit consequuntur. Cum voluptatem voluptas qui? Eligendi facilis ab aut atque. Asperiores esse obcaecati similique, molestiae distinctio explicabo optio voluptatibus dolore eligendi, quam tenetur?
        </p>
        <p class="break-all bg-green-200">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, qui sint nihil excepturi cum voluptate mollitia suscipit tempora eius ratione culpa illum, alias consequuntur minima quisquam unde sapiente exercitationem eveniet aliquid voluptatum inventore impedit libero animi? Distinctio pariatur odio molestias tempore ducimus eos corporis architecto! Iste pariatur cum consequuntur at, esse labore? Ratione veritatis eius praesentium? Nam debitis maxime quaerat nostrum. Sint ut praesentium totam officia modi repudiandae corrupti, tenetur ea harum ad eveniet consectetur cum eius commodi minus exercitationem labore impedit! Tenetur magnam quas, tempora quod ipsam unde, quos consequatur libero illo eligendi optio nostrum eos deserunt excepturi. Reprehenderit.
        </p>
        <p class="break-keep bg-pink-200">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod sit odio quae atque ipsa nisi quisquam asperiores sequi veniam fugit, ipsam sunt eligendi consequuntur iure delectus et itaque,cumfugiataperiam.Quismollitiaundeestrepudiandaequia,natusmodidolorumbeataeaab.Suntvoluptasaspernaturnesciunt quasi ipsam? Delectus, aliquam reprehenderit a mollitia sint ipsum hic sed quibusdam et enim corrupti, libero, quia voluptatum soluta minus! Ab vel quis mollitia optio omnis accusantium laborum sed assumenda ratione aut facere unde fuga eaque perferendis fugit esse fugiat, sapiente ducimus blanditiis ipsa, tempore iste quam inventore beatae. Autem laudantium id corrupti?
        </p>
    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>