<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="text-emerald-500 text-md">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque assumenda saepe quam adipisci rem tempora hic rerum! Laudantium, consequatur quasi.
        <div class="text-inherit">
            Lorem ipsum dolor sit amet.
        </div>
    </div>

    <div class="text-red-500">
        <span class="text-current border-b-2 border-current">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis debitis ab pariatur sit quidem libero quo aliquid odio, corrupti rem nihil illo, cum facere culpa.
        </span>
    </div>
<script type="module" src="../font-source.js"></script>
</body>
</html>