<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eaque deleniti architecto, rerum illum ducimus facere ex eveniet, minima vero, aut ea dolore. Sunt, corrupti! Nisi molestiae dolorum molestias blanditiis qui illo excepturi? Porro magnam, fugiat adipisci nam rerum <a class="text-blue-200 after:content-['_↗']">mantap benar</a> assumenda aut iusto perferendis sequi dicta voluptatum! Cupiditate veritatis distinctio ad laudantium ab debitis blanditiis, pariatur enim dolores ducimus ea assumenda, doloremque minima labore obcaecati, illo qui aspernatur esse vitae quasi! Ut quae, blanditiis obcaecati molestias ratione quisquam adipisci animi quis reiciendis dignissimos nobis quos. Numquam provident ipsum, modi corrupti dolores quo aliquam earum officia vel. Modi consectetur facere recusandae a.</p>
    <p before="Hello World" class="before:content-[attr(before)]"></p>
    <script type="module" src="../font-source.js"></script>
</body>
</html>