<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="bg-green-300 p-4 text-[50px]">
    Lorem ipsum dolor sit amet.
</div>

<!-- text-xs
text-sm
text-base
text-lg
text-xl
text-2xl
text-3xl
text-4xl
text-5xl
text-6xl
text-7xl
text-8xl
text-9xl
text-(length:<custom-property>)
text-[<value>] -->
<script type="module" src="../font-source.js"></script>
</body>
</html>