<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css">
</head>
<body>
<!-- normal-nums -->
<div class="font-lato bg-orange-300 p-2 text-xl font-eb-garamond mb-4">
    <p class="normal-nums">123456</p>
</div>

<!-- ordinal <sup>st</sup> -->
<div class="bg-green-300 p-2 font-eb-garamond text-xl">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, officia! <span class="ordinal">1st</span></p>
</div>
<!-- slashed-zero -->

<!-- lining-nums -->

<!-- oldstyle-nums -->

<!-- proportional-nums -->

<!-- tabular-nums -->

<!-- diagonal-fractions -->
<div class="bg-yellow-300 p-2 text-xl mb-4">
    <p class="diagonal-fractions">1/2 3/4 5/6</p>
</div>

<!-- stacked-fractions -->
<div class="bg-pink-300 p-2 text-xl font-eb-garamond mb-4">
    <p class="stacked-fractions">1/2</p>
</div>

<!-- Stacking multiple utilities -->
<div class="bg-blue-500 w-md text-white px-3 py-2">
    <dl>
        <dt>Subtotal</dt>
        <dd class="text-right slashed-zero tabular-nums">$100.00</dd>
        <hr>
        <dt>Tax</dt>
        <dd class="text-right slashed-zero tabular-nums">$14.50</dd>
        <hr>
        <dt>Total</dt>
        <dd class="text-right slashed-zero tabular-nums">$114.50</dd>
    </dl>
</div>


    <script type="module" src="../font-source.js"></script>
</body>
</html>