<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="font-roboto text-md p-4 bg-blue-200 italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, animi. Libero, quis quam nemo culpa inventore harum ad ex voluptatibus?
    </div>
    <div class="font-roboto text-md p-4 bg-blue-200 not-italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, animi. Libero, quis quam nemo culpa inventore harum ad ex voluptatibus?
    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>