<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p class="font-roboto font-stretch-extra-condensed text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, ipsam dolore! Maxime, necessitatibus doloremque accusantium aperiam, voluptates illum magni facere adipisci ab, ea provident dolor possimus. Inventore voluptate iure, tempora ab ad voluptas qui impedit ipsa cupiditate? Quia accusantium illum incidunt aliquid inventore? Fugit hic natus blanditiis, tempore harum ipsa!</p>
<p class="font-roboto font-stretch-condensed text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, ipsam dolore! Maxime, necessitatibus doloremque accusantium aperiam, voluptates illum magni facere adipisci ab, ea provident dolor possimus. Inventore voluptate iure, tempora ab ad voluptas qui impedit ipsa cupiditate? Quia accusantium illum incidunt aliquid inventore? Fugit hic natus blanditiis, tempore harum ipsa!</p>
<p class="font-roboto font-stretch-normal text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, ipsam dolore! Maxime, necessitatibus doloremque accusantium aperiam, voluptates illum magni facere adipisci ab, ea provident dolor possimus. Inventore voluptate iure, tempora ab ad voluptas qui impedit ipsa cupiditate? Quia accusantium illum incidunt aliquid inventore? Fugit hic natus blanditiis, tempore harum ipsa!</p>
<p class="font-roboto font-stretch-expanded text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, ipsam dolore! Maxime, necessitatibus doloremque accusantium aperiam, voluptates illum magni facere adipisci ab, ea provident dolor possimus. Inventore voluptate iure, tempora ab ad voluptas qui impedit ipsa cupiditate? Quia accusantium illum incidunt aliquid inventore? Fugit hic natus blanditiis, tempore harum ipsa!</p>
<p class="font-roboto font-stretch-extra-expanded text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, ipsam dolore! Maxime, necessitatibus doloremque accusantium aperiam, voluptates illum magni facere adipisci ab, ea provident dolor possimus. Inventore voluptate iure, tempora ab ad voluptas qui impedit ipsa cupiditate? Quia accusantium illum incidunt aliquid inventore? Fugit hic natus blanditiis, tempore harum ipsa!</p>
    <script type="module" src="../font-source.js"></script>
</body>
</html>