<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="font-roboto bg-green-900 p-4 font-thin text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, ratione consequuntur placeat odit animi quibusdam. Similique alias amet tempora!
    </div>
    <div class="font-roboto bg-green-900 p-4 font-extralight text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, ratione consequuntur placeat odit animi quibusdam. Similique alias amet tempora!
    </div>
    <div class="font-roboto bg-green-900 p-4 font-light text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, ratione consequuntur placeat odit animi quibusdam. Similique alias amet tempora!
    </div>
    <div class="font-roboto bg-green-900 p-4 font-normal text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, ratione consequuntur placeat odit animi quibusdam. Similique alias amet tempora!
    </div>
    <div class="font-roboto bg-green-900 p-4 font-medium text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, ratione consequuntur placeat odit animi quibusdam. Similique alias amet tempora!
    </div>
    <div class="font-roboto bg-green-900 p-4 font-semibold text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, ratione consequuntur placeat odit animi quibusdam. Similique alias amet tempora!
    </div>
    <div class="font-roboto bg-green-900 p-4 font-bold text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, ratione consequuntur placeat odit animi quibusdam. Similique alias amet tempora!
    </div>
    <div class="font-roboto bg-green-900 p-4 font-extrabold text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, ratione consequuntur placeat odit animi quibusdam. Similique alias amet tempora!
    </div>
    <div class="font-roboto bg-green-900 p-4 font-black text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, ratione consequuntur placeat odit animi quibusdam. Similique alias amet tempora!
    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>