<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p class="font-roboto text-3xl bg-green-200 antialiased">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae eveniet aperiam porro quaerat non temporibus sunt illo vel quis libero odio, laborum ex officia ad ullam voluptate? Impedit, dignissimos laboriosam. Molestias laborum eos aliquam architecto quis magni eum optio explicabo adipisci, dolor possimus, a consectetur beatae veniam cupiditate corporis sunt?</p>
    <p class="font-roboto text-3xl bg-purple-200 subpixel-antialiased">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus hic a corporis dicta cupiditate ducimus eveniet tempora eligendi animi doloribus?</p>
<script type="module" src="../font-source.js"></script>
</body>
</html>