<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css">
</head>
<body class="bg-gray-100">
    <!-- h-<number> height: calc(var(--spacing) * <number>); -->
    <!-- <div class="h-16 bg-green-200">Lorem ipsum dolor sit amet.</div> -->
    
    <!-- h-<fraction> height: calc(<fraction> * 100%); -->
    <!-- <div class="h-64 bg-gray-200">
        <div class="h-3/4 bg-blue-500">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima nihil inventore quos neque deserunt eaque corporis, fugiat itaque porro necessitatibus architecto ab totam. Consequuntur fugiat animi doloribus dolores quaerat ullam mollitia molestias eos eveniet sapiente maiores repellendus magnam dolorem laborum, voluptates fugit earum ut illo. Deleniti numquam assumenda modi sit voluptates eius quaerat perferendis, adipisci quam, impedit alias nesciunt corporis consequuntur enim veritatis veniam velit? Odit mollitia a doloremque. Sint, ipsum nulla labore, dignissimos reprehenderit enim porro ad a neque numquam iure repellendus aut doloremque blanditiis eligendi aliquam, quae exercitationem obcaecati omnis quam consequatur quas non nam temporibus! Maiores, iste.
        </div>
    </div> -->

    <!-- h-auto height: auto; -->
    <!-- <div class="h-screen bg-purple-200">
        <div class="h-auto bg-red-200">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit assumenda quasi eligendi. Cum voluptatibus aperiam distinctio, modi error similique veritatis dicta non. Cum odio possimus iste! Amet, libero illum illo iure eos sit recusandae ipsam ducimus? Aliquam nihil ex facere, explicabo, saepe aspernatur quas minus consectetur hic porro qui eum! Nemo cum, dignissimos sunt mollitia unde vel doloribus eligendi debitis, est quos adipisci dolore laborum possimus illum recusandae? Cum omnis similique velit dicta aperiam! Totam quam hic vero, eius illum suscipit accusamus dolorem deleniti doloribus fugiat quibusdam iste eum quaerat numquam, beatae cum sapiente! Accusantium voluptates dolorem labore adipisci dolore.
        </div>
    </div> -->
</body>
</html>