<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="space-y-6 w-lg ">
    <p class="hyphens-none bg-red-200">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde autem ut dolore a distinctio, vel maxime consectetur asperiores numquam ducimus et veritatis doloremque odit totam officiis quiaEumitaqueevenietablanditiisplaceatmagniatqueopti&shy;odistinctioofficiiscumquevelearecusandaeDictaatqueillopariaturexsuscipitet is a voluptas in deleniti corrupti quas iusto eveniet ducimus earum incidunt. Blanditiis quis ad facere excepturi praesentium corporis quod cupiditate voluptatum quam nobis. Ipsam, sed pariatur doloremque, quia mollitia provident, accusantium odio odit fugiat eveniet voluptatibus similique quasi nemo blanditiis tenetur magni quisquam quos. Similique sunt sequi, modi earum animi dolorum?
    </p>
    <p class="hyphens-manual bg-green-200">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde autem ut dolore a distinctio, vel maxime consectetur asperiores numquam ducimus et veritatis doloremque odit totam officiis quiaEumitaqueevenietablanditiisplaceatmagniatqueopti&shy;odistinctioofficiiscumquevelearecusandaeDictaatqueillopariaturexsuscipitet is a voluptas in deleniti corrupti quas iusto eveniet ducimus earum incidunt. Blanditiis quis ad facere excepturi praesentium corporis quod cupiditate voluptatum quam nobis. Ipsam, sed pariatur doloremque, quia mollitia provident, accusantium odio odit fugiat eveniet voluptatibus similique quasi nemo blanditiis tenetur magni quisquam quos. Similique sunt sequi, modi earum animi dolorum?
    </p>
    <p class="hyphens-auto bg-purple-200" lang="de">
        Officially recognized by the Duden dictionary as the longest word in German, Kraftfahrzeughaftpflichtversicherung is a 36 letter word for motor vehicle liability insurance.
    </p>
</div>
<script type="module" src="../font-source.js"></script>
</body>
</html>