<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p-4">
        <p class="mb-6">Compare</p>
        <ul class="list-disc list-inside mb-6">
            <li>General Affair</li>
            <li>Human Resource Department</li>
            <li>Account Receiveable</li>
            <li>Audit</li>
        </ul>
        <ul class="list-decimal list-outside">
            <li>General Affair</li>
            <li>Human Resource Department</li>
            <li>Account Receiveable</li>
            <li>Audit</li>
        </ul>
    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>