<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=0, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p-6 space-y-6">
        <!-- upper roman --> <!--lower roman -->
        <ul class="list-[upper-roman] list-inside">
            <li>General Affair</li>
            <li>Human Resource Department</li>
            <li>Account Receivable</li>
            <li>Audit</li>
        </ul>

        <!-- upper alpha --> <!--lower-alpha-->
        <ul class="list-[upper-alpha] list-inside">
            <li>General Affair</li>
            <li>Human Resource Department</li>
            <li>Account Receivable</li>
            <li>Audit</li>
        </ul>

        <ul class="list-decimal list-inside">
            <li>General Affair</li>
            <li>Human Resource Department</li>
            <li>Account Receivable</li>
            <li>Audit</li>
        </ul>

        <ul class="list-disc list-inside">
            <li>General Affair</li>
            <li>Human Resource Department</li>
            <li>Account Receivable</li>
            <li>Audit</li>
        </ul>
        
        <ul class="list-none list-inside">
            <li>General Affair</li>
            <li>Human Resource Department</li>
            <li>Account Receivable</li>
            <li>Audit</li>
        </ul>
    </div>
    
    <script type="module" src="../font-source.js"></script>
</body>
</html>