<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css">
</head>
<body>
    <div class="bg-orange-200 h-60 overflow-x-auto">
        <div class="min-h-100 bg-cyan-200">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, debitis. Esse, provident obcaecati facilis error ipsam sequi ipsum. Molestias voluptas accusantium itaque nobis officia, qui ex esse suscipit unde natus quisquam tempora beatae eum adipisci distinctio nulla aliquam neque atque laudantium, eveniet tenetur, praesentium officiis! Cum magni voluptates tenetur quam, at commodi maxime? Minima obcaecati perferendis ipsum quasi illo, officia in porro quaerat placeat sunt laborum commodi fugit! Error eveniet recusandae quos, sit nisi officiis earum illum sapiente repudiandae est qui. Nulla pariatur, earum nemo amet nobis veritatis ad nam dolore veniam asperiores rem, eveniet in soluta enim voluptate fugit?
        </div>
    </div>
</body>
</html>