<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="flex items-center justify-center space-y-6 p-6">
    <button type="button" class="flex items-center justify-center px-7 py-px rounded-md text-xl border border-blue-500 border-3 outline outline-5 outline-dashed outline-offset-2 outline-red-500">Button A</button>
    <script type="module" src="../font-source.js"></script>
</body>
</html>