<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p-6 space-y-6">
        <p class="underline underline-offset-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sint sed corporis suscipit, ratione veritatis. Obcaecati est iste maxime deserunt?
        </p>
        <p class="underline underline-offset-4">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam soluta ratione velit cum molestiae rerum natus, laboriosam eligendi perferendis sit.
        </p>
        <p class="underline underline-offset-[1.25rem]">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis illo molestiae temporibus aspernatur doloremque pariatur nobis consequuntur eveniet possimus aperiam!
        </p>
    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>