<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../src/output.css"> -->
</head>
<body class="bg-gray-800 text-white">
    <div class="space-y-6 p-6">
        <p class="lowercase">(LowerCase) Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae amet delectus quam odio sapiente nostrum enim nemo expedita exercitationem repudiandae.</p>
        <p class="uppercase">(UpperCase)lorem ipsum dolor sit amet, consectetur adipisicing elit. tenetur provident laboriosam illum quidem enim eos unde accusantium, aperiam blanditiis! Temporibus?</p>
        <p class="capitalize">(capitalize) lorem ipsum dolor sit amet, consectetur adipisicing elit. id eius praesentium inventore a, at fugiat! ducimus, sed! atque, expedita eaque.</p>
        <p class="normal-case">(Normal Case) lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi laborum explicabo cumque in debitis veniam? Cupiditate consectetur nobis necessitatibus voluptatibus.</p>
    </div>

    <script type="module" src="../font-source.js"></script>
</body>
</html>