<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="space-y-6">
        <div class="text-sky-400 underline">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque incidunt consectetur numquam impedit similique iusto quia enim odio earum cupiditate!
        </div>
        <div class="text-red-400 overline">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum possimus aut, labore laborum aperiam quae perferendis accusamus totam suscipit! Vel?
        </div>
        <div class="text-emerald-400 line-through">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla cumque consequatur pariatur cupiditate repudiandae nobis ipsa modi assumenda reiciendis nam?
        </div>
        <div class="text-teal-400 no-underline">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt perspiciatis ad odio deserunt nemo totam consequatur aliquid in porro repellendus.
        </div>
    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>