<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a class="underline decoration-sky-600">Fugiat maxime</a>, <a class="underline decoration-pink-600">dolorem</a>, <a class="underline decoration-emerald-600">molestiae ducimus pariatur</a>, explicabo nihil repudiandae est earum deleniti natus. Totam et facere, cupiditate repellendus quo eos laudantium sint laborum omnis repudiandae deleniti maiores.</p>
    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>