<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="space-y-6">
        <p class="underline decoration-solid">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem itaque officiis maiores voluptatibus sunt nostrum. Veniam dolore cumque possimus quod.</p>
        <p class="underline decoration-double">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem itaque officiis maiores voluptatibus sunt nostrum. Veniam dolore cumque possimus quod.</p>
        <p class="underline decoration-dotted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem itaque officiis maiores voluptatibus sunt nostrum. Veniam dolore cumque possimus quod.</p>
        <p class="underline decoration-dashed">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem itaque officiis maiores voluptatibus sunt nostrum. Veniam dolore cumque possimus quod.</p>
        <p class="underline decoration-wavy">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem itaque officiis maiores voluptatibus sunt nostrum. Veniam dolore cumque possimus quod.</p>
    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>