<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg-pink-200 indent-3 mb-5">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate quidem, suscipit facilis ipsum incidunt facere. Maiores dolores quo impedit voluptatibus!
    </div>
    <div class="bg-emerald-200 indent-7 mb-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati magni nemo dolor, ut distinctio deleniti soluta corporis perspiciatis modi laboriosam sequi commodi mollitia pariatur, repudiandae quia a. Commodi, et temporibus.
    </div>
    <div class="bg-teal-200 indent-10">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, culpa.
    </indent-10>
    <script type="module" src="../font-source.js"></script>
</body>
</html>