<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="space-y-5">
        <p class="underline decoration-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita odio dolor mollitia earum est delectus veniam facilis ad asperiores veritatis!</p>
        <p class="underline decoration-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laudantium iure, veritatis qui tenetur necessitatibus sed aliquam doloremque molestiae minus.</p>
        <p class="underline decoration-[1rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam adipisci saepe consequuntur dignissimos quidem optio ducimus itaque totam magnam asperiores.</p>
    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>