<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex items-center space-x-2 bg-blue-100 text-xl">
        <span class="align-bottom bg-green-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, nostrum?</span>
        <span class="align-middle bg-red-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, nostrum?</span>
        <span class="align-top bg-blue-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, nostrum?</span>

    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>