<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <p th:if="${error}" class="alert alert-danger" th:text="${error}"></p>
    <p th:if="${logout}" class="alert alert-success" th:text="${logout}"></p>
    <form th:action="@{/login}" method="post">
        <div><label for="">Email : <input type="text" name="email"></label></div><br>
        <div><label for="">Password : <input type="password" name="password"></label></div><br>
        <div><button type="submit">Login</button></div>
    </form>
</body>
</html>