@import "@fontsource-variable/roboto";
@import "@fontsource/lato";
@import "tailwindcss";

/* Font family */
.font-roboto {
  font-family: "Roboto Variable", sans-serif;
}

.font-lato {
    font-family: "Lato", sans-serif;
}

.font-eb-garamond {
    font-family: "EB Garamond Variable", serif;
}

.font-oswald {
  font-family: 'Oswald Variable', sans-serif;
}
/* Image SVG */
@layer utilities{
  /* .list-svg-1{
    width:50em;
    list-style-image: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Crect width='50' height='50' fill='white'%3E%3C/rect%3E%3Cpath d='M5 13.3636L8.03559 16.3204C8.42388 16.6986 9.04279 16.6986 9.43108 16.3204L19 7' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  } */
  .list-svg-1 {
    list-style: none;
    position: relative;
    padding-left: 2rem;
  }

  .list-svg-1::before {
    content: '';
    position: absolute;
    left: 0;
    /* top: 0.3em; */
    width: 1.2em;
    height: 1.2em;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Crect width='50' height='50' fill='white'%3E%3C/rect%3E%3Cpath d='M5 13.3636L8.03559 16.3204C8.42388 16.6986 9.04279 16.6986 9.43108 16.3204L19 7' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* table */
.table-default {
  @apply border-collapse border border-gray-400 w-full text-sm;
}

.table-default th {
  @apply border border-gray-300 p-2 bg-gray-600 text-left;
}

.table-default td {
  @apply border border-gray-300 p-2;
}