<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-gray-800 p-6 flex flex-col items-center space-y-6">
    <div class="bg-fuchsia-500 bg-blend-multiply bg-[url(../../public/images/wp3665974-everest-mountain-wallpaper.jpg)] h-[50vh] w-[50vh] bg-cover"></div>
    <div class="bg-fuchsia-500 bg-blend-soft-light bg-[url(../../public/images/wp3665974-everest-mountain-wallpaper.jpg)] h-[50vh] w-[50vh] bg-cover"></div>
    <div class="bg-fuchsia-500 bg-blend-hard-light bg-[url(../../public/images/wp3665974-everest-mountain-wallpaper.jpg)] h-[50vh] w-[50vh] bg-cover"></div>
    <script type="module" src="../../font-source.js"></script>
</body>
</html>