<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-gray-800">
    <div class="h-screen w-full">
        <div class="w-1/2 h-1/2 mask-clip-border border-7 mask-add mask-[url(../../public/images/circle.png), url(../../public/images/circle.png)] mask-cover mask-no-repeat mask-[position:30%_50%,70%_50%] bg-[url(../../public/images/wp3665974-everest-mountain-wallpaper.jpg)] bg-cover"></div>
    </div>
    <script type="module" src="../../font-source.js"></script>
</body>
</html>

<div class="mask-add mask-[url(/img/circle.png),url(/img/circle.png)] mask-[position:30%_50%,70%_50%] bg-[url(/img/mountains.jpg)]"></div>