<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="flex items-center justify-center space-y-6 bg-gray-800 p-6">
    <div class="mask-clip-border border-7 p-6 mask-[url(../../public/images/circle.png)] mask-contain mask-no-repeat bg-[url(../../public/images/mount-everest-pictures-2134-x-1405-zcnve56xm8eir3l7.jpg)] bg-cover w-[50vh] h-[50vh] bg-green-200"></div>
    <div class="mask-clip-padding border-7 p-6 mask-[url(../../public/images/circle.png)] mask-contain mask-no-repeat bg-[url(../../public/images/mount-everest-pictures-2134-x-1405-zcnve56xm8eir3l7.jpg)] bg-cover w-[50vh] h-[50vh] bg-green-200"></div>
    <div class="mask-clip-content border-7 p-6 mask-[url(../../public/images/circle.png)] mask-contain mask-no-repeat bg-[url(../../public/images/mount-everest-pictures-2134-x-1405-zcnve56xm8eir3l7.jpg)] bg-cover w-[50vh] h-[50vh] bg-green-200"></div>
    <script type="module" src="../../font-source.js"></script>
</body>
</html>