<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="flex flex-col justify-center items-center bg-gray-800 text-white font-bold">
    <button type="button" class="bg-purple-500 opacity-0 px-6 py-2 rounded-lg">Button 1</button>
    <button type="button" class="bg-purple-500 opacity-25 px-6 py-2 rounded-lg">Button 2</button>
    <button type="button" class="bg-purple-500 opacity-50 px-6 py-2 rounded-lg">Button 3</button>
    <button type="button" class="bg-purple-500 opacity-100 px-6 py-2 rounded-lg">Button 4</button>
    <script type="module" src="../../font-source.js"></script>
</body>
</html>