<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-linear-to-tr from-pink-500 via-fuchsia-500 to-purple-500 min-h-screen">
    <div class="space-y-6 flex flex-col items-center justify-center text-white p-6">
        <p class="text-3xl font-bold text-shadow-2xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, eveniet!</p>
        <p class="text-3xl font-bold text-shadow-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, eveniet!</p>
        <p class="text-3xl font-bold text-shadow-lg/30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, eveniet!</p>
    </div>
    <script type="module" src="../../font-source.js"></script>
</body>
</html>