<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-gray-900 p-6">
    <div class="bg-white rounded-2xl w-xs lg:w-3xl h-90 flex flex-col lg:flex-row items-center">
        <div class="bg-[url(../../public/images/wp3665974-everest-mountain-wallpaper.jpg)] bg-cover bg-center h-full w-full"></div>
        <div>Jadwal: Oktober - November 2025</div>
    </div>
    <script type="module" src="../../font-source.js"></script>
</body>
</html>