<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-gray-800">
    <div class="m-6 space-y-6">
        <div class="bg-linear-to-r from-lime-500 to-red-500 w-50 h-50 border-x-5 border-lime-900"></div>
        <div class="bg-teal-500 w-50 h-50 border-y-5 border-teal-900"></div>
        <div class="bg-indigo-500 w-50 h-50 border-y-5 border-indigo-900"></div>
        <div class="bg-violet-500 w-50 h-50 border-t-5 border-b-10 border-violet-900 border-b-red-200"></div>
        <p class="bg-linear-to-r from-fuchsia-500 to-yellow-500 bg-clip-text text-5xl font-extrabold text-transparent">Hello World</p>
    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>