<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="flex flex-col space-y-6 p-6">
    <div class="bg-sky-500 w-70 h-70 bg-[url(../images/river.jpg)] bg-cover"></div>
    <div class="bg-sky-500 w-70 h-70 bg-[url(../images/river.jpg)] bg-contain bg-no-repeat"></div>
    <div class="bg-sky-500 w-70 h-70 bg-[url(../images/river.jpg)] bg-auto "></div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>