<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="space-x-6 flex items-center justify-center p-6">
<div class="w-70 h-70 bg-[url(../public/images/mount-everest-pictures-2134-x-1405-zcnve56xm8eir3l7.jpg)] bg-top-right"></div>
<div class="w-70 h-70 bg-[url(../public/images/mount-everest-pictures-2134-x-1405-zcnve56xm8eir3l7.jpg)] bg-top-left"></div>
<div class="w-70 h-70 bg-[url(../public/images/mount-everest-pictures-2134-x-1405-zcnve56xm8eir3l7.jpg)] bg-center"></div>
<div class="w-70 h-70 bg-[url(../public/images/mount-everest-pictures-2134-x-1405-zcnve56xm8eir3l7.jpg)] bg-bottom"></div>
<script type="module" src="../font-source.js"></script>
</body>
</html>