<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-gray-900 flex flex-col min-w-full min-h-screen justify-center items-center space-y-6 p-25">
    <div class="relative w-full h-screen bg-[url(../public/images/wp4070239-mount-everest-wallpapers.jpg)] bg-fixed">
        <div class="absolute bg-gray-900 min-w-full p-6 bottom-0">
            <h2 class="text-3xl font-bold text-white">My trip to summit</h2>
            <p class="text-md text-gray-600">Juni 6, 2025 &middot; 4 min read</p>
            <p class="text-gray-400">Maybe we can live without libraries, people like you and me. Maybe. Sure, we're too old to change the world, but what about that kid, sitting down, opening a book, right now, in a branch at the local library and finding drawings of pee-pees and wee-wees on the Cat in the Hat and the Five Chinese Brothers? Doesn't HE deserve better?</p>
        </div>
    </div>
    <div class="w-full m-25 h-screen bg-[url(../public/images/wp4070240-mount-everest-wallpapers.jpg)] bg-local text-center text-white flex flex-col justify-center items-center">
        <p class="font-roboto font-bold italic text-4xl leading-20">
            Because the mail never stops. It just keeps coming and coming and coming, there's never a let-up. It's relentless. Every day it piles up more and more and more. And you gotta get it out but the more you get it out the more it keeps coming in. And then the barcode reader breaks and it's Publisher's Clearing House day.
        </p>
        <p class="font-lato font-bold text-3xl">— Newman</p>
    </div>
    <div class="w-full m-25 h-screen bg-[url(../public/images/wp3665974-everest-mountain-wallpaper.jpg)] bg-scroll flex items-center justify-center">
        <p class="text-white font-roboto italic text-4xl leading-20">
            Because the mail never stops. It just keeps coming and coming and coming, there's never a let-up. It's relentless. Every day it piles up more and more and more. And you gotta get it out but the more you get it out the more it keeps coming in. And then the barcode reader breaks and it's Publisher's Clearing House day.
        </p>
    </div>
    <script type="module" src="../font-source.js"></script>
</body>
</html>