<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-gray-900 gap-6 text-white">
    <table class="table-default">
        <thead>
            <tr>
                <th>No.</th>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
        </tbody>
    </table>
    <div class="bg-green-500"><p class="text-white font-bold text-lg text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa!</p></div>
    <script type="module" src="/font-source.js"></script>
</body>
</html>