<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-gray-900 space-y-6">
    <table class="table-default text-white">
        <thead>
            <tr>
                <th>No.</th>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
        </tbody>
    </table>

    <table class="table-odd-even">
        <thead>
            <tr>
                <th>No.</th>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>A00001</td>
                <td>APRON LOGO SOS</td>
                <td>Fixed</td>
            </tr>
        </tbody>
    </table>

    <table class="table-auto w-full border-collapse border border-gray-300 text-white">
    <thead class="bg-gray-800">
        <tr>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td class="border px-4 py-2">Short Name</td>
        <td class="border px-4 py-2">verylongemailaddress@example.com</td>
        </tr>
    </tbody>
    </table>

    <table class="table-fixed w-full border-collapse border border-gray-300 text-white">
    <thead class="bg-gray-800">
        <tr>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td class="border px-4 py-2">Short Name</td>
        <td class="border px-4 py-2">verylongemailaddress@example.com</td>
        </tr>
    </tbody>
    </table>

    <table class="table-auto w-full border-collapse border border-gray-300 text-white">
        <thead class="bg-gray-800">
            <tr>
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td class="border px-4 py-2">Short Name</td>
            <td class="border px-4 py-2">verylongemailaddress@example.com</td>
            </tr>
        </tbody>
        </table>

        <table class="table-fixed w-full border-collapse border border-gray-300 text-white">
            <caption class="caption-bottom">
        Table 3.1: Professional wrestlers and their signature moves.
    </caption>
        <thead class="bg-gray-800">
            <tr>
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td class="border px-4 py-2">Short Name</td>
            <td class="border px-4 py-2">verylongemailaddress@example.com</td>
            </tr>
        </tbody>
    </table>

    <div class="bg-green-500"><p class="text-white font-bold text-lg text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa!</p></div>
    <script type="module" src="/font-source.js"></script>
</body>
</html>